.feed{
    flex: 4;
    padding: 3rem;

    .heading{
        display: flex;
        align-items: center;
        gap: 2rem;

        p{
            font-size: 1.2rem;
            color: #222;
            font-weight: 700;
        }

        span{
            color: #888;
            font-weight: 500;
        }
    }

    .jobsContainer{
        margin-top: 0.6rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1.5rem;

        .job{
            background: #fff;
            border: .1rem solid rgba(0,0,0, .2);
            border-radius: .5rem;
            box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
            padding: 1rem;

            .jobInfo{
                display: flex;
                align-items: center;

                .image{
                    width: 4rem;
                    height: 4rem;
                    border-radius: 0.2rem;
                    margin-right: 0.5rem;
                }

                .jobTitle{

                    span{
                        font-weight: 500;
                        color: #888;
                    }

                    p{
                        font-size: 1.2rem;
                        color: #222;
                        font-weight: 600;
                    }

                }

                .icon{
                    margin-left: auto;
                    cursor: pointer;
                }
            }

            .jobSkills{
                display: flex;
                align-items: center;
                
                p{
                    padding: 0.4rem;
                    margin: 0.6rem 0.4rem;
                    border-radius: 0.8rem;
                    background: #e0e0e0;
                }
            }
        }
    }
}